
    <div class="user-account-nav user-account-sidebar">
        <div class="user-nav-list">
            <ul>
                <li class=" {% if request.resolver_match.url_name == 'restaurant' %} active {% endif %}">
                    <a href="{% url 'accounts:restaurant' %}"><i class="icon-dashboard3"></i>Dashboard</a>
                </li>

                <li class=" {% if request.resolver_match.url_name == 'add_food' %} active {% endif %}">
                    <a href="{% url 'restaurant:add_food' %}" ><i class="icon-menu5"></i>Add Food</a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'list_food' %} active {% endif %}">
                    <a href="{% url 'restaurant:list_food' %}"><i class="icon-file-text22"></i>Menu</a>
                </li>
                <li class=" {% if request.resolver_match.url_name == 'order_detail' %} active {% endif %}">
                    <a href="#"><i class="icon-add_shopping_cart"></i>Orders Detail</a></li>
                <li class=" {% if request.resolver_match.url_name == 'restaurant_earn' %} active {% endif %}">
                    <a href="{% url 'restaurant:restaurant_earn' %}"><i class="icon-money"></i>Earnings</a></li>


                <li>
                    <a class="logout-btn" href="{% url 'accounts:user_logout' %}"><i class="icon-log-out"></i>Signout</a>
                </li>
            </ul>
        </div>
    </div>
