{% load static %}

<!DOCTYPE html>
<html lang="en">

{% include "includes/head.html" %}
<body>
	<!--Main Wrapper-->
	<div class="wrapper">
        {% include "includes/header.html" %}

        {% block content %}


        {% endblock content %}
        {% include "includes/footer.html" %}
    </div>

	<!-- Modal Popup End -->
	<script src="{% static 'js/scripts.js' %}"></script>
	<script src="{% static 'js/functions.js' %} "></script>
	<script src="{% static 'js/responsive.menu.js' %}"></script>
	<script src="{% static 'js/swiper.min.js' %}/"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}/"></script>
	<script src="{% static 'js/chosen.js' %}/"></script>
	<script src="{% static 'js/counter.js' %}/"></script>
	<script src="{% static 'js/fliters.js' %}/"></script>
	<script src="{% static 'js/jquery.fitvids.js' %}/"></script>
	<script src="{% static 'js/jquery.growl.js' %}/"></script>
	<script src="{% static 'js/jquery.matchHeight-min.js' %}/"></script>
	<script src="{% static 'js/masonry.pkgd.js' %}/"></script>
	 <script src="{% static 'js/skills-progress.js' %}/"></script>
	<script src="{% static 'js/bootstrap-slider.js' %}/"></script>
	<script src="{% static 'js/wow.js' %}/"></script>
	<script src="{% static 'js/functions-plugin.js' %}/"></script>

</body>

</html>